@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

/* variable define */
:root{
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
    --manrope: 'Manrope', sans-serif;
}
/* variable define end */

/* nav start */
.brand-font{
    color: #3e3e3e !important;
    font-family: var(--poppins);
    font-size: 22px;
}

nav{
    box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.116);
}

nav li{
    color: #3e3e3e !important;
    font-family: var(--poppins);
    font-size: 16px;
    font-family: 500;
}
/* nav end */

/* carousel start */
.carousel{
    margin-top: 59px;
}

.carousel-image{
    height: 75vh;
    background-position: center;
    background-color: rgb(0, 0, 0, .4);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    font-family: var(--poppins);
}

.image-1{
    background-image: url(images/carousel/img-1.jpg);
}

.image-2{
    background-image: url(images/carousel/img-2.jpg);
}

.image-3{
    background-image: url(images/carousel/img-3.jpg);
}

.image-4{
    background-image: url(images/carousel/img-4.jpg);
}

.carousel-image button{
    color: #3F87F5;
}
/* carousel start end */

/* toast start */
.toast-edit{
    width: 15rem;
}
/* toast end */

/* package section start */
.package-section h2, .asked-questions h2{
    font-family: var(--poppins);
    font-weight: 600;
    color: #0A0826;
}

.card{
    width: 18rem;
}

.card h3, .card h4{
    font-family: var(--roboto);
    color: #231D4F;
    font-weight: 700;
}

.card p{
    color: #848199;
    font-size: 15px;
    font-family: var(--poppins);
}

.card .button{
    padding: 8px 69px;
    border-radius: 20px;
    background-color: #ffe7f6a8;
    text-decoration: none;
    color: #3f88f5c9;
}

.fa-check-circle{
    color: #b8b1f1;
}

.card-plus{
    background-color: #3F87F5;
    border-radius: 26px;
    box-shadow: 0px 10px 9px 9px #accbfa85;
    margin-bottom: 18px !important;
    top: 0;
    transition: all 2s;
}

.card-plus h3, .card-plus h4, .card-plus p{
    color: white !important;
}

.card-plus .fa-check-circle{
    color: #8eb6f1;
}

.card-plus .button{
    background-color: white;
}

.card-plus .hot{
    font-size: 14px;
    font-family: var(--roboto);
    border-radius: 13.5px;
    padding: 8px 12px;
    background-color: #FF4E4E;
}

.card-plus:hover{
    display: inline-block;
    top: -30px;
}
/* package section start end */

/* frequently asked questions start */
.accordion-item{
    border: 2px solid #d5e5fbb4 !important;
}

.accordion-item .accordion-font-h2{
    color: #383838;
    font-family: var(--inter);
    font-size: 20px;
    font-weight: 500;
}

.accordion-item .accordion-font-p{
    color: #7E848C;
    font-family: var(--inter);
    font-size: 16px;
}
/* frequently asked questions end */

/* testimonial section */
.wrapper{
    padding-top: 4.25rem;
    padding-bottom: 4.25rem;
}

.testimonial-section{
    background: #e0ccffce;
    font-family: var(--poppins);
}

.testimonial-section h2{
    color: #be93fd;
}

.testimonial-section .carousel-item{
    padding: 10rem 3.125rem;
    background-color: #be93fd;
    border-radius: .9375rem;
    text-align: center;
}

.testimonial-section .carousel-caption img{
    max-width: 5rem;
}

.testimonial-section .carousel-caption p{
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-weight: 300;
    color: white;
    padding: 0 11% .625rem;
}

.testimonial-section .carousel-indicators{
    bottom: -2.8125rem;
}
/* testimonial section end */

/* footer start */
footer{
    background-color: #0B0D17 !important;
}

.footer-style{
    height: 280px;
    color: #D9DBE1;
    font-family: var(--manrope);
}

.footer-font-p-1{
    font-size: 14px;
    margin-top: 16px;
}

.footer-font-p-2{
    font-size: 28px;
    font-weight: 500;
}
/* footer end */